* {
    box-sizing: border-box;
}

/*  Movil   */
@media screen and (max-width: 480px) {

    body,
    header,
    nav,
    footer {
        margin: 0;
        padding: 0;
        border: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 50%;
    }

    .heroImg {
        width: 100%;
    }

    .videos {
        width: 100%;
    }
}