@media screen and (min-width: 768px) {

    body,
    header,
    nav,
    footer {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #cabecera {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    nav {
        display: flex;
        justify-content: left;
        align-items: center;
    }


    header img {
        width: 100%;
    }

    nav a {
        margin: 5%;
        text-decoration: none;
        color: black;
        font-size: 2.8em;
    }

    nav a:hover {
        text-shadow: 0.2em 0.2em 0.2em grey;
    }

    #hero img {
        width: 100%;
    }

    header {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    #table {
        display: flex;
        justify-content: center;
    }

    table {
        margin-top: 3em;
        border-collapse: collapse;
        font-size: 1em;
    }

    thead {
        background-color: black;
        color: white;
    }

    td,
    th {
        border: solid black 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        color: white;
        background-color: black;
    }


    footer p {
        margin-block-start: 1em;
        margin-block-end: 0em;
    }

    fieldset a {
        text-decoration: none;
        color: #000000;


    }


   
    .mobile {
        display: none;
    }

    /*Podcast*/

    .lista {
        display: none;
    }


    .login {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table caption {
        font-weight: bold;
        margin-bottom: 3%;
        font-size: 20pt;
    }

    .podcasts {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }

    .podcast {
        margin-left: 2%;
        padding: 0% 3%;
        width: 25%;
    }

    .podcast img,
    audio {
        width: 100%;
    }

    footer p {
        margin-block-start: 1em;
        margin-block-end: 0em;
    }

    .mobile {
        display: none;
    }

    /*Video*/
    .video {

        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    video {
        width: 100%;
    }

    #formReg {

        justify-content: center;
        text-align: center;

    }

    form {
        width: 50em;
        padding: 2em;
        border-radius: 1em;
        margin-left: auto;
        margin-right: auto;
        background-color: #ccc;
    }

    form label {
        width: 7em;
        font-weight: bold;
        display: inline-block;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="tel"],
    form input[type="number"],
    form input[type="password"] {
        width: 17em;
        padding: 0.3em 0.5em;
        border: 1px solid blue;
        border-radius: 0.2em;
        background-color: white;
        margin: 0.5em 0;
        display: inline-block;
    }

    form input[type="submit"] {
        width: 100%;
        padding: 0.3em 0.5em;
        margin-top: 3em;
        border: 1px solid #000;
        border-radius: 0.3em;
        display: block;
        color: #fff;
        background-color: #000;
    }

    form input[type="submit"]:hover {
        cursor: pointer;
    }

    #fieldsetLogIn{
        width: 15em;
    }
    

}