@media screen and (min-width: 768px) {

    body,
    header,
    nav,
    footer {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #cabecera {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    nav {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    nav a {
        margin: 5%;
        text-decoration: none;
        color: black;
        font-size: 2.8em;
    }

    nav a:hover {
        text-shadow: 0.2em 0.2em 0.2em grey;
    }

    #hero img {
        width: 100%;
    }

    header {
        display: flex;
        justify-content: center;
    }

    #table {
        display: flex;
        justify-content: center;
    }

    table {
        margin-top: 3em;
        border-collapse: collapse;
        font-size: 1em;
    }

    td,
    th {
        border: solid black 1px;

    }

    footer {
        color: white;
        background-color: black;
    }

    header {
        display: flex;
        justify-content: center;
    }

    #table {
        display: flex;
        justify-content: center;
    }

    table {
        margin-top: 3em;
        border-collapse: collapse;
        font-size: 1em;
    }

    thead {
        background-color: black;
        color: white;
    }

    td,
    th {
        border: solid black 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }



    footer {
        color: white;
        background-color: black;
    }


    footer p {
        margin-block-start: 1em;
        margin-block-end: 0em;
    }

    .mobile {
        display: none;
    }

    /*Estilos Pagina podcast*/
    .tabla {
        display: flex;
        justify-content: center;
    }

    table caption {
        font-weight: bold;
        margin-bottom: 3%;
        font-size: 20pt;
    }

    .podcasts {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }

    .podcast {
        margin-left: 2%;
        padding: 0% 3%;
        width: 25%;
    }

    footer p {
        margin-block-start: 1em;
        margin-block-end: 0em;
    }

    .mobile {
        display: none;
    }

    /*Video*/
    .video {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}