@media screen and (max-width: 481px) {

    body,
    header,
    nav,
    footer {
        margin: 1;
        padding: 0;
        border: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .login {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    fieldset a{
        text-decoration: none;
        color: #000000;
    }

    .tablet-desktop {
        display: none;
    }

    footer {
        color: white;
        background-color: black;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a {

        padding: 5%;
        text-decoration: none;
        color: black;
        font-size: 2em;
    }

    header img {
        width: 50%;
        display: flex;
        justify-content: center;

        margin-left: 25%;
    }

    footer p {
        margin-block-start: 1em;
        margin-block-end: 0em;
    }

    /*Podcast*/


    ul {
        list-style: none;
    }

    .dia-semana {
        font-weight: bold;
    }

    .podcast img,
    audio {
        width: 50%;
    }

    /*Video*/
    .video {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    video {
        width: 100%;
    }
}