.tablet-desktop {
    display: none;
}





footer {
    color: white;
    background-color: black;
}


nav {
    display: flex;
 justify-content: center;
    align-items: center;
}

nav a {
 
    padding: 5%;
    text-decoration: none;
    color: black;
    font-size: 2em;
}



header img {
    width: 100%;
    display: flex;
    justify-content: center;

}


footer p {
    margin-block-start: 1em;
    margin-block-end: 0em;
}