@media screen and (min-width: 481px) and (max-width: 768px) {

    body,
    header,
    nav,
    footer {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    nav {
        display: flex;
        justify-content: center;


    }

    nav a {
        margin: 2em;
        text-decoration: none;
        color: black;
        font-size: 100%;
    }

    nav a:hover {
        text-shadow: 0.2em 0.2em 0.2em grey;
    }

    #hero img {
        width: 100%;

    }

    header {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    header img {
        width: 50%;
        margin-left: 25%;
    }

    .login {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    fieldset a {
        text-decoration: none;
        color: #000000;
    }

    #table {
        display: flex;
        justify-content: center;
    }

    table {
        margin-top: 3em;
        border-collapse: collapse;
        font-size: 1em;

    }

    thead {
        background-color: black;
        color: white;
    }

    td,
    th {
        border: solid black 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        color: white;
        background-color: black;
    }

    footer p {
        margin-block-start: 1em;
        margin-block-end: 0em;
    }

    .mobile {
        display: none;
    }

    /*Podcast*/
    .lista {
        display: none;
    }

    .tabla {
        display: flex;
        justify-content: center;

    }

    table caption {
        font-weight: bold;
        margin-bottom: 3%;
        font-size: 20pt;
    }

    .podcasts {
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 11%;
    }

    .podcast {
        width: 45%;
    }

    .podcast img,
    audio {
        width: 75%;
    }

    .podcast p {
        margin-right: 25%;
    }


    /*Video*/
    .video {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    video {
        width: 100%;
    }

    #formReg {

        justify-content: center;
        text-align: center;

    }

    #juegoGlobos img {
        display: none;
    }



   

    form {
        width: 30em;
        padding: 2em;
        border-radius: 1em;
        margin: auto;
        background-color: #ccc;
    }

    form label {
        width: 7em;
        font-weight: bold;
        display: inline-block;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="tel"],
    form input[type="number"],
    form input[type="password"] {
        width: 14em;
        padding: 0.2em 1em;
        border: 1px solid blue;
        border-radius: 0.2em;
        background-color: white;
        margin: 0.5em 0;
        display: inline-block;
    }

    form input[type="submit"] {
        width: 100%;
        padding: 0.2em 1em;
        margin-top: 2em;
        border: 1px solid #000;
        border-radius: 0.5em;
        display: block;
        color: #fff;
        background-color: #000;
    }

    form input[type="submit"]:hover {
        cursor: pointer;
    }

    #fieldsetLogIn {
        width: 15em;
    }

}