@media screen and (min-width: 481px) and (max-width: 768px) {

    body,
    header,
    nav,
    footer {
        margin: 1;
        padding: 0;
        border: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    nav {
        display: flex;
        justify-content: center;

    }

    nav a {
        margin: 5%;
        text-decoration: none;
        color: black;
        font-size: 2em;
    }

    nav a:hover {
        text-shadow: 0.2em 0.2em 0.2em grey;
    }

    img {
        width: 100%;

    }

    header {
        display: flex;
        justify-content: center;
    }

    header img {
        width: 50%;
    }

    #table {
        display: flex;
        justify-content: center;
    }

    table {
        margin-top: 3em;
        border-collapse: collapse;
        font-size: 1em;
    }

    td,
    th {
        border: solid black 1px;

    }

    footer {
        color: white;
        background-color: black;
    }

    footer p {
        margin-block-start: 1em;
        margin-block-end: 0em;
    }

    .mobile {
        display: none;
    }

    /*Video*/
    .videos {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}